@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #292e34;
	background-color: #8ecea8 !important;
}
img{
	margin-right: 20px !important;
	margin-left: 20px !important;
	height: auto;
	width: 80%;
}
select{
	background-color: #FCD469;
	font-size: 2em !important;
	font-weight: 700;
	border: none;
	color: #292e34;
	margin-bottom: 20px !important;
}
image,h1,select{
	margin: 10px;
}
option:hover{
	background-color: #292e34 !important;
	color: #FCD469 !important;
}
select:hover{
	background-color: #292e34 !important;
	color: #FCD469 !important;
}
select option:hover{
	background-color: #292e34 !important;
	color: #FCD469 !important;
}
footer{
	background-color:#ee5495;
	position: fixed;
	bottom: 0;
	font-size: 1.25em;
	color: white;
	width: 100%;
	text-align: center;
}
h2{
	margin-bottom: 50px !important;
	padding: 40px;
}
